body, html, .App, #root, .Landing{height: 100%; width: 100%}
/* .App {
  height: 100%;
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Landing{
  /* background-image:url('./images/1600.jpg'); */
  background-size: cover;
  position: relative;

}
.textarea{color: white; z-index:10; position:relative; top:0px; width: 50% }
.text-container{padding: 160px 7em}
svg{z-index:1; position: absolute; top:0; left:0;   }
image{z-index:1}
.character-name{font-size: 1.8em; color: grey;  }
.character-title{font-size: 2.2em; font-weight: 600; padding-bottom: 10px }
.character-description{font-size: .9em}
/* Write media queries for 2000px screens */



.block{
  position: absolute;
  top:100px;
  right:5px;
  background-color: aquamarine;
  height: 100px;
  width: 100px
}
.text-container{
  width: 40%;
  color: white;
  padding: 12rem 10px 10% 6rem
}
.character-name{
  color: grey;
  font-size: 2.2rem

}


